<mat-sidenav-container fullscreen>
  <mat-sidenav mode="push" #homesidenav>
    <mat-toolbar style="background-color: rgb(223, 217, 207); height: 80px"
      >Menu</mat-toolbar
    >
    <br />

    <section>
      <button
        mat-button
        class="menu-button"
        *ngFor="let item of appPages"
        (click)="homesidenav.toggle()"
      >
        <div routerLink="{{ item.url }}">
          <mat-icon style="font-size: 14px; padding: 0px; padding-top: 6px">{{
            item.icon
          }}</mat-icon>
          <span>{{ item.title }}</span>
        </div>
      </button>
    </section>
    <br />
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        aria-label="Menu icon"
        (click)="homesidenav.toggle()"
        class="toolbarBtn"
      >
        <mat-icon style="font-size: 30px; padding: 0px">menu</mat-icon>
      </button>
      <img
        class="companyLogo"
        id="logoimg"
        src="../../assets/images/eStudentLogo.png"
        routerLink="/"
        style="cursor: pointer"
      />

      <span class="example-spacer"></span>
      <span
        ><strong class="strongTITLE" style="cursor: pointer" routerLink="/"
          >eStudent</strong
        ></span
      >

      <span class="example-spacer"></span>
      <button aria-label="Login icon" (click)="login()" class="toolbarBtn">
        <mat-icon style="font-size: 30px; padding: 0px">person</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
