<div class="container">
  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">Register New Student</p>
      <p>1. From Home page tap on Register button</p>
      <p>2. Enter School key & Student key and tap on Submit button</p>
      <p>3. Student details will appear on the screen</p>
      <p>4. Review and confirm registration by tapping on Register button</p>
      <p>5. Registration is complete</p>
      <strong
        >** Note: Contact School in case the student details are incorrect or
        require any modification</strong
      >
    </div>
  </div>

  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">News And Events</p>
      <p>
        1. From Main Menu select "News" or from Student Dashboard tap on "News"
        button
      </p>
      <p>2. List of News & Events will be displayed</p>
      <p>3. Tap on desired News/Event item to view details</p>
      <strong
        >** Note: Contact School in case the student details are incorrect or
        require any modification</strong
      >
    </div>
  </div>

  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">Student Dashboard</p>
      <p>1. From home page, tap on student name</p>
      <p>2. Student Dashboard will be displayed on screen</p>
    </div>
  </div>

  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">Student Profile</p>
      <p>1. From home page, tap on student name</p>
      <p>2. Student Dashboard will be displayed on screen</p>
      <p>3. Tap on Student profile to view student profile/details</p>
    </div>
  </div>

  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">Student Reports</p>
      <p>1. From home page, tap on student name</p>
      <p>2. Student Dashboard will be displayed on screen</p>
      <p>3. Tap on Reports to view list of student reports</p>
      <p>4. Tap on the required button to view desired report card</p>
    </div>
  </div>

  <div class="flex-item">
    <div class="jumbotron jumbotronBlue mat-elevation-z8 TextWhite">
      <p class="jumbotranHeader">School Diary</p>
      <p>1. From home page, tap on student name</p>
      <p>2. Student Dashboard will be displayed on screen</p>
      <p>
        3. Tap on Diary to view list of various fixtures, schedules and events
      </p>
      <strong
        >** Use Today, Weekly or Monthly view by tapping on desired
        button</strong
      >
    </div>
  </div>
</div>
